
#hand {
    height:200px;
    width:200px;
    border-style:solid;
    border-width:1px;
    margin: 5px;
    margin-left: 200px;
    background-color: #ffffcc;
}

#captured {
    height:200px;
    width:200px;
    border-style:solid;
    border-width: 1px;
    margin: 5px;
    background-color: #ffffcc;
}

#board {
    border:solid 1px;
    border-spacing: 0px;
    background-color: #ffffcc;
}

#board td{
    border:solid 1px;
}

 .cell{
     height: 40px;
     width: 40px;
     text-align: center;
 }
 .piece{
     cursor: default;
     font-size: 32px;
     display: inline-block;
 }

.ui-selected { background: #F39814; color: white; }

.yours{
    transform: rotate(0deg);
}

.opponents{
    transform: rotate(180deg);
}